$primary-color : #372211;

@mixin textOnPrimaryBackground() {
  color: #edebe6;
  font-size: 17px;
  font-weight: 200;
  font-family: 'Droid Sans', sans-serif;
}

header {
  .navbar {
    margin-bottom: 0;
    border-radius: 0;

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }
    .navbar-collapse {
      text-align: center;
    }
  }


  .navbar-default {
    background-color: $primary-color;
    border-color: $primary-color;

    li {
      color:white;
      a {
        @include textOnPrimaryBackground();
        &:hover {
          color: #f4e7ab;
          font-weight: 500;
        }
        &.active {
          background-color: #23150a;
          color: #f9e37d;
        }
      }
    }
  }
}
footer.navbar-default {
  border-radius: 0;
  background-color: $primary-color;
  border-color: $primary-color;
  margin-bottom: 0;
  margin-top: 25px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  p.text-muted {
    @include textOnPrimaryBackground();
    margin: 5px;
  }
}