<header>
    <div class="jumbotron"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <!--<li><a href="#">Order an Ice-Cream</a></li>
                    <li><a href="#">See orders</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="flavors">
    <h3>Flavors</h3>

    <ul class="flavors">
        <li class="box">
            <div class="cover">
                <img src="assets/img/flavor/speculos.jpg" alt="dulcedeleche">
            </div>
            <div class="title">Title</div>
            <div class="desc">Lorem Ipsum...</div>
        </li>
        <li class="box">
            <div class="cover">
                <img src="assets/img/flavor/agrumi.jpg" alt="dulcedeleche">
            </div>
            <div class="title">Title</div>
            <div class="desc">Lorem Ipsum...</div>
        </li>
        <li class="box">
            <div class="cover">
                <img src="assets/img/flavor/caffe.jpg" alt="dulcedeleche">
            </div>
            <div class="title">Title</div>
            <div class="desc">Lorem Ipsum...</div>
        </li>
        <li class="box">
            <div class="cover">
                <img src="assets/img/flavor/cioccolato.jpg" alt="dulcedeleche">
            </div>
            <div class="title">Title</div>
            <div class="desc">Lorem Ipsum...</div>
        </li>
        <li class="box">
            <div class="cover">
                <img src="assets/img/flavor/citron_basilic.jpg" alt="dulcedeleche">
            </div>
            <div class="title">Title</div>
            <div class="desc">Lorem Ipsum...</div>
        </li>
        <li class="box">
            <div class="cover">
                <img src="assets/img/flavor/inimitabile.jpg" alt="dulcedeleche">
            </div>
            <div class="title">Title</div>
            <div class="desc">Lorem Ipsum...</div>
        </li>
    </ul>
</section>

<div class="footer navbar navbar-default">
    <p class="text-muted">Developed with <i class="glyphicon glyphicon-heart-empty"></i> by [PUT YOUR NAME HERE] !</p>
</div>