$primary-color : #372211;

@mixin textOnPrimaryBackground() {
  color: #edebe6;
  font-size: 17px;
  font-weight: 200;
  font-family: 'Droid Sans', sans-serif;
}

header {
  .navbar {
    margin-bottom: 0;
    border-radius: 0;

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }
    .navbar-collapse {
      text-align: center;
    }
  }


  .navbar-default {
    background-color: $primary-color;
    border-color: $primary-color;

    li {
      color:white;
      a {
        @include textOnPrimaryBackground();
        &:hover {
          color: #f4e7ab;
          font-weight: 500;
        }
      }
    }
  }
}

section.visual {

  .jumbotron {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;

    position: relative;
    height: 85vh;
    z-index: 2;
    background: url("/assets/img/front.jpg");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    div.overlay {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img.logo {
        width: 300px;
      }

      .subtitle {
        text-align: center;
        margin: 0;
        padding: 0;
        color: #5D202D;
        font-size: 40px;
        font-weight: normal;
        text-shadow: none;
      }

    }
  }

  .navbar.navbar-default {
    border-radius: 0;
    background-color: $primary-color;
    border-color: $primary-color;
    margin-bottom: 0;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    p.text-muted {
      @include textOnPrimaryBackground();
      margin: 5px;
    }
  }
}

section.flavors {

  text-align: center;

  .flavors {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;


    .box {
      width: 30%;
      margin-top: 10px;
      background-color: rgba(255, 255, 255, .38);
      box-shadow: 0 0 10px 0 rgba(0,0,0,.10);

      .cover {
        width: 160px;
        height: 160px;
        margin-right: 16px;
        float: left !important;
        background: no-repeat center center;
        overflow: hidden;

        img {
          min-height: 100%;
          min-width: 100%;
        }
      }
      .title {
        color: $primary-color;
        font-weight: 500;
        font-size: 20px;
        padding: 10px 20px 5px 20px;
      }
    }

  }
}

footer.navbar-default {
  border-radius: 0;
  background-color: $primary-color;
  border-color: $primary-color;
  margin-bottom: 0;
  margin-top: 25px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  p.text-muted {
    @include textOnPrimaryBackground();
    margin: 5px;
  }
}